In [1]:
from copy import copy, deepcopy
from tqdm import tqdm_notebook as tm
from tqdm import trange
from glob import glob
import os
import sys

In [2]:
import pandas as pd
import numpy as np

In [3]:
import sys
sys.path.append('/home/student/Project/')
from kts import *

In [4]:
from kts.feature.storage import feature_list as featlist
from kts.feature.storage import FeatureSet as FeatureSet

In [5]:
from kts.storage.cache_utils import delete_cache

In [6]:
config.storage_path = '/home/student/Project/storage/'

In [7]:
featlist

[]

In [8]:
#If cache is empty it must be said
delete_cache()

5 + 8 =13

In [9]:
df = pd.read_csv('../input/train.csv')
df = df.set_index('PassengerId')
# target = df['Survived'].values
# df = df.drop(['Survived'], axis=1)

In [10]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
@test(df, [2])
def drop_name(df):
    return column_dropper(['Name'])(df)

@test(df, [2])
def drop_cabin(df):
    return column_dropper(['Cabin'])(df)

@test(df, [2])
def drop_ticket(df):
    return column_dropper(['Ticket'])(df)

@test(df, [2])
def binarize_sex(df):
    res = stl.empty_like(df)
    res['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
    return res[['Sex']]

@test(df, [2])
def label_embarked(df):
    res = stl.empty_like(df)
    res['Embarked'] = df['Embarked'].map({'S': 1, 'C': 2, 'Q': 3})
    return res[['Embarked']]

@test(df, [2])
def ohe_embarked(df):
    return make_ohe(['Embarked'])(df)

@test(df, [2])
def ohe_pclass(df):
    return make_ohe(['Pclass'])(df)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C

             Sex
PassengerId
1              1
2              0

             Embarked
PassengerId
1                   1
2                   2

             Embarked_ohe_C  Embarked_ohe_S
PassengerId
1                         0               1
2                         1               0

             Pclass_ohe_1  Pclass_ohe_3
PassengerId
1                       0             1
2                       1             0

In [12]:
@test(df, [15])
def ohe_embarked(df):
    return make_mean_encoding(['Embarked'], 'Survived')(df)

             me_Embarked
PassengerId
1               0.416667
2               1.000000
3               0.416667
4               0.416667
5               0.416667
6               0.000000
7               0.416667
8               0.416667
9               0.416667
10              1.000000
11              0.416667
12              0.416667
13              0.416667
14              0.416667
15              0.416667

In [97]:
@register
def binarize_sex(df):
    res = stl.empty_like(df)
    res['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
    return res[['Sex']]

@register
def label_embarked(df):
    res = stl.empty_like(df)
    res['Embarked'] = df['Embarked'].map({'S': 1, 'C': 2, 'Q': 3})
    return res[['Embarked']]

@register
def ohe_embarked(df):
    return make_ohe(['Embarked'])(df)

@register
def mean_embarked(df):
    return make_mean_encoding(['Embarked'], 'Survived')(df)

@register
def ohe_pclass(df):
    return make_ohe(['Pclass'])(df)

@dropper
def drop_final(df):
    return column_dropper(['Name', 'Embarked', 'Ticket', 'Sex', 'Cabin', 'Survived'])(df)

@register
def cabin_isna(df):
    res = stl.empty_like(df)
    res['Cabin'] = df['Cabin'].isna().astype(int)
    return res[['Cabin']]

removing /home/student/Project/storage/drop_final_fc_obj
removing /home/student/Project/storage/sources/drop_final.py

In [100]:
featlist

[label_embarked, binarize_sex, mean_embarked, ohe_embarked, ohe_pclass, cabin_isna, drop, drop_final]

In [99]:
deregister('first_fs', force=True)

removing /home/student/Project/storage/first_fs_fc_obj
removing /home/student/Project/storage/sources/first_fs.py

In [101]:
@register
# @test(df)
def first_fs(df):
    return stl.concat([drop_final, ohe_pclass, binarize_sex, cabin_isna])(df)

In [107]:
fs1 = FeatureSet(first_fs, df_input=df)

In [108]:
fs1[:]

,Survived,Pclass,Age,SibSp,Parch,Fare,Pclass_ohe_1,Pclass_ohe_2,Pclass_ohe_3,Sex,Cabin
PassengerId,,,,,,,,,,,
1,0,3,22.0,1,0,7.2500,0,0,1,1,1
2,1,1,38.0,1,0,71.2833,1,0,0,0,0
3,1,3,26.0,0,0,7.9250,0,0,1,0,1
4,1,1,35.0,1,0,53.1000,1,0,0,0,0
5,0,3,35.0,0,0,8.0500,0,0,1,1,1
6,0,3,NaN,0,0,8.4583,0,0,1,1,1
7,0,1,54.0,0,0,51.8625,1,0,0,1,0
8,0,3,2.0,3,1,21.0750,0,0,1,1,1
9,1,3,27.0,0,2,11.1333,0,0,1,0,1
10,1,2,14.0,1,0,30.0708,0,1,0,0,1
11,1,3,4.0,1,1,16.7000,0,0,1,0,0
12,1,1,58.0,0,0,26.5500,1,0,0,0,0
13,0,3,20.0,0,0,8.0500,0,0,1,1,1
14,0,3,39.0,1,5,31.2750,0,0,1,1,1
15,0,3,14.0,0,0,7.8542,0,0,1,0,1
16,1,2,55.0,0,0,16.0000,0,1,0,0,1
17,0,3,2.0,4,1,29.1250,0,0,1,1,1
18,1,2,NaN,0,0,13.0000,0,1,0,1,1
19,0,3,31.0,1,0,18.0000,0,0,1,0,1
20,1,3,NaN,0,0,7.2250,0,0,1,0,1
21,0,2,35.0,0,0,26.0000,0,1,0,1,1
22,1,2,34.0,0,0,13.0000,0,1,0,1,0
23,1,3,15.0,0,0,8.0292,0,0,1,0,1
24,1,1,28.0,0,0,35.5000,1,0,0,1,0
25,0,3,8.0,3,1,21.0750,0,0,1,0,1
26,1,3,38.0,1,5,31.3875,0,0,1,0,1
27,0,3,NaN,0,0,7.2250,0,0,1,1,1
28,0,1,19.0,3,2,263.0000,1,0,0,1,0
29,1,3,NaN,0,0,7.8792,0,0,1,0,1
30,0,3,NaN,0,0,7.8958,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,21.0,1,0,11.5000,0,1,0,1,1
863,1,1,48.0,0,0,25.9292,1,0,0,0,0
864,0,3,NaN,8,2,69.5500,0,0,1,0,1
865,0,2,24.0,0,0,13.0000,0,1,0,1,1
866,1,2,42.0,0,0,13.0000,0,1,0,0,1
867,1,2,27.0,1,0,13.8583,0,1,0,0,1
868,0,1,31.0,0,0,50.4958,1,0,0,1,0
869,0,3,NaN,0,0,9.5000,0,0,1,1,1
870,1,3,4.0,1,1,11.1333,0,0,1,1,1
871,0,3,26.0,0,0,7.8958,0,0,1,1,1
872,1,1,47.0,1,1,52.5542,1,0,0,0,0
873,0,1,33.0,0,0,5.0000,1,0,0,1,0
874,0,3,47.0,0,0,9.0000,0,0,1,1,1
875,1,2,28.0,1,0,24.0000,0,1,0,0,1
876,1,3,15.0,0,0,7.2250,0,0,1,0,1
877,0,3,20.0,0,0,9.8458,0,0,1,1,1
878,0,3,19.0,0,0,7.8958,0,0,1,1,1
879,0,3,NaN,0,0,7.8958,0,0,1,1,1
880,1,1,56.0,0,1,83.1583,1,0,0,0,0
881,1,2,25.0,0,1,26.0000,0,1,0,0,1
882,0,3,33.0,0,0,7.8958,0,0,1,1,1
883,0,3,22.0,0,0,10.5167,0,0,1,0,1
884,0,2,28.0,0,0,10.5000,0,1,0,1,1
885,0,3,25.0,0,0,7.0500,0,0,1,1,1
886,0,3,39.0,0,5,29.1250,0,0,1,0,1
887,0,2,27.0,0,0,13.0000,0,1,0,1,1
888,1,1,19.0,0,0,30.0000,1,0,0,0,0
889,0,3,NaN,1,2,23.4500,0,0,1,0,1
890,1,1,26.0,0,0,30.0000,1,0,0,1,0
891,0,3,32.0,0,0,7.7500,0,0,1,1,1

In [61]:
from kts.validation import validator
from kts.validation import split
from kts import model
from kts import zoo
from sklearn.metrics import roc_auc_score, log_loss

In [62]:
target = df.Survived.values

In [67]:
xgb = zoo.binary_classification.XGBClassifier()
cb = zoo.binary_classification.CBClassifier()
lgb = zoo.binary_classification.LGBMClassifier()

In [65]:
xgb.fit(fs1[:].values, target)
# cb.fit(fs2[:].values, target, verbose=0)
# lgb.fit(fs2[:].values, target)

In [68]:
skf = split.NM(target, split.SKF, n_folds=5, n_splits=3)
val_1 = validator.Validator(fs1, target, skf, roc_auc_score)

print(f'First_exp {val_1.score(xgb)}')

First_exp 1.0

In [38]:
((xgb + lgb + cb)/3).predict(fs2[:].values)

array([0.07639144, 0.98670646, 0.58819304, 0.98601907, 0.09841534,
       0.09394583, 0.13467189, 0.06793351, 0.68878005, 0.9656208 ,
       0.90798293, 0.8954626 , 0.12169105, 0.08659234, 0.52785468,
       0.87277344, 0.04522342, 0.36687192, 0.41971988, 0.76922012,
       0.19211596, 0.18106242, 0.80281943, 0.45905587, 0.12286919,
       0.39135067, 0.09360775, 0.09778636, 0.80730959, 0.04977485,
       0.29959405, 0.94168415, 0.76489071, 0.11968094, 0.3574986 ,
       0.28223965, 0.11790044, 0.07076229, 0.29299072, 0.75369587,
       0.23902398, 0.66132033, 0.09244859, 0.98641201, 0.79752833,
       0.07312488, 0.15092902, 0.76489071, 0.27110744, 0.31871479,
       0.0412355 , 0.09350007, 0.98755948, 0.87819406, 0.14517662,
       0.36791908, 0.86691902, 0.13074056, 0.97847093, 0.01320187,
       0.25875783, 0.98425076, 0.22150665, 0.11344197, 0.28692112,
       0.51862855, 0.91139583, 0.16324433, 0.7394854 , 0.09304056,
       0.17112287, 0.07564708, 0.10846054, 0.11681794, 0.69334321,
       0.0831402 , 0.04977485, 0.07312488, 0.93395209, 0.62825557,
       0.06362294, 0.21258729, 0.80402723, 0.25150703, 0.90892117,
       0.75773828, 0.11898537, 0.07312488, 0.91830241, 0.06699236,
       0.14407438, 0.0986827 , 0.21417786, 0.08332937, 0.017689  ,
       0.07312488, 0.16619559, 0.59713557, 0.94803454, 0.16180277,
       0.3739864 , 0.04977485, 0.24334368, 0.09960765, 0.08556303,
       0.08588664, 0.61310727, 0.1596227 , 0.04780023, 0.74393127,
       0.15775085, 0.37819541, 0.06611137, 0.31741885, 0.29556857,
       0.08982341, 0.02197689, 0.09423415, 0.16355892, 0.07219454,
       0.07754713, 0.07312488, 0.22218558, 0.93115646, 0.12036   ,
       0.6037976 , 0.10561164, 0.30254301, 0.82072728, 0.02728699,
       0.08294353, 0.04452829, 0.09675194, 0.87819406, 0.08479985,
       0.09220065, 0.9618035 , 0.51201235, 0.09243203, 0.34357716,
       0.46856064, 0.62584238, 0.55659158, 0.02647714, 0.11730086,
       0.14818912, 0.3362193 , 0.20793485, 0.08385921, 0.2040921 ,
       0.08017014, 0.96541363, 0.06550701, 0.04681121, 0.0481657 ,
       0.2517677 , 0.80607092, 0.14518519, 0.08553761, 0.0180477 ,
       0.05868455, 0.89961615, 0.18025743, 0.08909438, 0.09717263,
       0.70174811, 0.97991846, 0.0581363 , 0.18916931, 0.41246236,
       0.17329896, 0.10334057, 0.84715962, 0.08982341, 0.25088716,
       0.1088451 , 0.02077664, 0.74708126, 0.12595416, 0.02076111,
       0.04957347, 0.15659844, 0.07271941, 0.90163159, 0.86493569,
       0.19181922, 0.83065354, 0.43214461, 0.03906058, 0.05789375,
       0.93764369, 0.10957816, 0.62478766, 0.95328595, 0.83246349,
       0.96463625, 0.10561164, 0.08784908, 0.76489071, 0.74560838,
       0.13806684, 0.0180477 , 0.02338536, 0.02456408, 0.24655491,
       0.5753437 , 0.16693495, 0.40507611, 0.78448111, 0.5075069 ,
       0.08969497, 0.94397444, 0.08362246, 0.12595416, 0.11911539,
       0.9860588 , 0.6355385 , 0.10885597, 0.98967753, 0.11717034,
       0.21106531, 0.13327203, 0.08298384, 0.04977485, 0.5285756 ,
       0.0635817 , 0.15476439, 0.08901469, 0.09796287, 0.06293798,
       0.98432216, 0.17354137, 0.05688771, 0.41205611, 0.06596588,
       0.41134837, 0.06739651, 0.96399688, 0.15476439, 0.12288284,
       0.3656087 , 0.83065354, 0.11163345, 0.08768431, 0.07819015,
       0.25921043, 0.50779066, 0.80497547, 0.52210159, 0.05293054,
       0.04805706, 0.32746261, 0.18865248, 0.09222055, 0.31826644,
       0.61605797, 0.98386092, 0.97887156, 0.99136985, 0.86428841,
       0.10561164, 0.33417379, 0.19804749, 0.04169608, 0.76489071,
       0.09488444, 0.03276799, 0.17299871, 0.95309074, 0.98658849,
       0.36743357, 0.42421426, 0.89501551, 0.29024864, 0.76489071,
       0.96833125, 0.22075326, 0.01264648, 0.03420286, 0.64354266,
       0.02220727, 0.11849098, 0.0944574 , 0.23775078, 0.20713509,
       0.11245391, 0.2413875 , 0.0589845 , 0.2040921 , 0.73128979,
       0.9657529 , 0.98468132, 0.11709755, 0.30374532, 0.05941075,
       0.28692112, 0.24006053, 0.59151251, 0.478528  , 0.96844002,
       0.76489071, 0.24859532, 0.03183471, 0.95486159, 0.07312488,
       0.70768692, 0.98450499, 0.98357085, 0.12803498, 0.98676007,
       0.98169648, 0.93882788, 0.66874005, 0.08588664, 0.06546494,
       0.60734319, 0.86115101, 0.04626799, 0.93551859, 0.98842342,
       0.08362246, 0.11965619, 0.92656658, 0.92530128, 0.0180477 ,
       0.98774419, 0.01769944, 0.9143203 , 0.52587006, 0.98801623,
       0.84342303, 0.20077136, 0.25831178, 0.0609207 , 0.97817791,
       0.04977485, 0.27777526, 0.98820276, 0.17966984, 0.24655939,
       0.88993589, 0.88600779, 0.10011678, 0.08479985, 0.13104914,
       0.74560838, 0.83009633, 0.68726191, 0.94481768, 0.09935788,
       0.06355326, 0.36010303, 0.2128144 , 0.08104433, 0.09360775,
       0.13806684, 0.97851185, 0.7234193 , 0.80730959, 0.80730959,
       0.04634848, 0.17587962, 0.12588925, 0.02376559, 0.15092902,
       0.07142146, 0.97902369, 0.77043978, 0.76489071, 0.98425322,
       0.73887347, 0.02576898, 0.23775078, 0.1728184 , 0.30284034,
       0.9853693 , 0.67929986, 0.25520023, 0.07860222, 0.10656427,
       0.97968756, 0.93514703, 0.34395116, 0.97895581, 0.04977485,
       0.11888032, 0.07073117, 0.9143203 , 0.06623871, 0.94736768,
       0.70015425, 0.20470103, 0.10143532, 0.98374284, 0.66109343,
       0.11523375, 0.48579088, 0.05955484, 0.06540859, 0.9157748 ,
       0.21131361, 0.13132476, 0.2839062 , 0.09037339, 0.33340912,
       0.12272709, 0.03034657, 0.95966981, 0.1274573 , 0.06293798,
       0.04977485, 0.01552354, 0.98156717, 0.01264648, 0.32174906,
       0.29768395, 0.95367271, 0.92967673, 0.12595416, 0.27362448,
       0.09244859, 0.10254947, 0.13130835, 0.16504241, 0.09364362,
       0.04805706, 0.86841242, 0.91379245, 0.10561164, 0.21803394,
       0.58538128, 0.68726191, 0.83058359, 0.03665827, 0.41972399,
       0.97283371, 0.21166169, 0.90229909, 0.13278174, 0.17600184,
       0.82254981, 0.07506245, 0.17299871, 0.90749683, 0.12066733,
       0.94618809, 0.93117163, 0.73091093, 0.94742642, 0.46645298,
       0.14314007, 0.1083522 , 0.35088458, 0.59819279, 0.07312488,
       0.28857748, 0.15835886, 0.96935054, 0.81434683, 0.10561164,
       0.56793916, 0.1040723 , 0.16087966, 0.13269104, 0.07312488,
       0.01590781, 0.01264648, 0.20238672, 0.06623871, 0.91331553,
       0.04805706, 0.06383941, 0.9300191 , 0.92902082, 0.29527086,
       0.20290016, 0.12272709, 0.06879023, 0.08237713, 0.75888322,
       0.02041902, 0.01264648, 0.08878472, 0.46572807, 0.63433722,
       0.06293798, 0.98693358, 0.16497743, 0.14518519, 0.73638812,
       0.1083522 , 0.08830192, 0.2703798 , 0.09255576, 0.07076229,
       0.10725191, 0.97839989, 0.09647088, 0.56281899, 0.11483085,
       0.08909438, 0.66519528, 0.6515274 , 0.27475338, 0.97768871,
       0.37519638, 0.9452233 , 0.46165042, 0.10118932, 0.58170884,
       0.23483115, 0.07312488, 0.71794657, 0.97775606, 0.08471595,
       0.21216959, 0.91776861, 0.13728764, 0.92798676, 0.13236266,
       0.9815181 , 0.0589845 , 0.09360775, 0.97765264, 0.11790044,
       0.02542892, 0.81434683, 0.12677106, 0.21131361, 0.07374948,
       0.92366656, 0.11790044, 0.20890895, 0.72236915, 0.39943751,
       0.96505207, 0.43214461, 0.98442432, 0.07224076, 0.97730213,
       0.97959513, 0.05122591, 0.04980301, 0.28219847, 0.39921543,
       0.08660596, 0.89230563, 0.40728649, 0.1050823 , 0.83940945,
       0.57698933, 0.14145016, 0.09214985, 0.3607307 , 0.61482609,
       0.18865248, 0.97825507, 0.12723097, 0.97570076, 0.64728069,
       0.10561164, 0.05681907, 0.09265579, 0.07312488, 0.29768395,
       0.05249658, 0.08007808, 0.29163357, 0.11790044, 0.26579096,
       0.14479675, 0.96441488, 0.71692924, 0.76489071, 0.21106531,
       0.05408175, 0.92752619, 0.98199601, 0.36004829, 0.34395116,
       0.89985253, 0.98532335, 0.05374576, 0.35608161, 0.13099412,
       0.96825591, 0.03873573, 0.34911984, 0.06611137, 0.07312488,
       0.02407463, 0.97922651, 0.02418445, 0.5831031 , 0.08454215,
       0.09017288, 0.96327786, 0.02569751, 0.09360775, 0.68652862,
       0.87474187, 0.04977485, 0.19219445, 0.1449161 , 0.70554878,
       0.08411008, 0.10144794, 0.64174766, 0.95908021, 0.96691901,
       0.12880383, 0.01869233, 0.83065354, 0.10561164, 0.09841534,
       0.92666612, 0.06250993, 0.369408  , 0.98418347, 0.0963087 ,
       0.11891161, 0.56783553, 0.47283727, 0.0883814 , 0.07494534,
       0.17406982, 0.04491882, 0.96791187, 0.08797954, 0.06944038,
       0.42441185, 0.01683685, 0.71150874, 0.01859455, 0.04766487,
       0.90749683, 0.34395116, 0.14961858, 0.10182604, 0.1328464 ,
       0.0986827 , 0.98425322, 0.06050783, 0.51297383, 0.91331553,
       0.61368948, 0.08007808, 0.24593846, 0.04763754, 0.64657931,
       0.04977485, 0.92702133, 0.06486013, 0.8047802 , 0.27423665,
       0.07778315, 0.04977485, 0.40219266, 0.0685308 , 0.20733864,
       0.53745208, 0.02068105, 0.1480303 , 0.02805365, 0.23320092,
       0.20612947, 0.08479985, 0.1596227 , 0.1366224 , 0.96941353,
       0.94136051, 0.29636715, 0.11785441, 0.31796769, 0.01264648,
       0.10059473, 0.07261438, 0.52492084, 0.05621652, 0.74721001,
       0.50905327, 0.66545547, 0.07523713, 0.01364436, 0.07334874,
       0.1950799 , 0.0206288 , 0.10546672, 0.1248425 , 0.92019777,
       0.66920006, 0.93829834, 0.51297383, 0.23257575, 0.19358549,
       0.06524697, 0.1449161 , 0.74472093, 0.44826565, 0.02938571,
       0.9283681 , 0.73515144, 0.34002886, 0.10250082, 0.11044517,
       0.09361287, 0.85813624, 0.61694192, 0.87108232, 0.51862855,
       0.97746708, 0.46165042, 0.37800564, 0.21258729, 0.08492065,
       0.08875295, 0.97874946, 0.90600659, 0.12035391, 0.04296491,
       0.98526305, 0.0318136 , 0.18106242, 0.091451  , 0.61818854,
       0.07859693, 0.89150683, 0.76604435, 0.10476939, 0.34588309,
       0.94402598, 0.42754626, 0.01264648, 0.0685308 , 0.0685308 ,
       0.10155826, 0.16957018, 0.78207171, 0.04977485, 0.04977485,
       0.47921513, 0.36039175, 0.93919596, 0.07174703, 0.32900138,
       0.10077446, 0.10698225, 0.91692819, 0.33410346, 0.09933621,
       0.97711525, 0.91552667, 0.10468503, 0.05867985, 0.93412529,
       0.87511505, 0.1713759 , 0.11730086, 0.1040723 , 0.98800427,
       0.07224076, 0.01575529, 0.33851409, 0.98907   , 0.1004886 ,
       0.96933472, 0.21500314, 0.45860186, 0.17182834, 0.18323301,
       0.06449969, 0.08619534, 0.72924553, 0.09360775, 0.83084494,
       0.0991634 , 0.10561164, 0.90435885, 0.0721386 , 0.96198134,
       0.86714149, 0.98051433, 0.4746363 , 0.18114352, 0.15355146,
       0.0799693 , 0.67005727, 0.03277226, 0.90226086, 0.23270265,
       0.10561164, 0.09551218, 0.04957347, 0.35579585, 0.07402787,
       0.10058684, 0.93186041, 0.57418743, 0.08514366, 0.21808083,
       0.18106242, 0.91443183, 0.82208728, 0.87703778, 0.48748056,
       0.13696747, 0.03858056, 0.56412875, 0.10058684, 0.98614718,
       0.08983747, 0.07510651, 0.09987998, 0.09942563, 0.18890645,
       0.01859455, 0.38605728, 0.18118993, 0.02193147, 0.02249822,
       0.97678993, 0.28391827, 0.03597232, 0.67169027, 0.05473716,
       0.01597734, 0.51297383, 0.94341858, 0.10561164, 0.97523353,
       0.37624166, 0.9432692 , 0.11790044, 0.06927157, 0.09650717,
       0.98536899, 0.0654687 , 0.07312488, 0.69334321, 0.43606042,
       0.16417697, 0.11747099, 0.97768983, 0.02659378, 0.08909438,
       0.02668099, 0.0180477 , 0.0776007 , 0.15920958, 0.986686  ,
       0.16060116, 0.04159141, 0.45291351, 0.9693133 , 0.73028639,
       0.57304756, 0.95379902, 0.43671033, 0.80181015, 0.11790044,
       0.04319335, 0.06905463, 0.93243653, 0.04957347, 0.06915687,
       0.85560926, 0.90037876, 0.29738879, 0.10302567, 0.94074479,
       0.08797954, 0.96688349, 0.06308941, 0.08657054, 0.93236378,
       0.87702021, 0.07330343, 0.08007808, 0.04977485, 0.97570749,
       0.89817146, 0.06427795, 0.32074642, 0.09445358, 0.15355146,
       0.08623511, 0.13327203, 0.97325457, 0.32495661, 0.71071218,
       0.09969324])

In [ ]:
from sklearn.linear_model import

In [53]:
ohe_embarked.source

"def ohe_embarked(df):\n    return make_ohe(['Embarked'])(df)\n"